*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: url("../img/desktopsize/WebBg.jpg");
    background-size: 100%;
    overflow: hidden;
}

.heading{
    position: relative;
    margin-top: 6vh;
    width: 100vw;
    height:13vh;
    font-family: warpen;
    color: white;
    background: url("../desktopsize/Label-1.png")no-repeat right;
    position: sticky;
    z-index: 1;
}
.lefttextbg{
    width: 100vw;
    height: 13vh;
    display: flex;
    align-items: center;
    background: rgba(108, 108, 255, 0.251);
}
#main-head{
    font-family: warpen;
    color: white;
    text-shadow:5px 5px 10px black;
    padding-left: 6rem;
    
}
.rightnav{
    position: absolute;
    top:35px;
    right: 50px;
    width: 40vw;
    color: rgb(0, 0, 0);
    font-family: Lato;
    font-weight: bolder;
    font-size: 24px;
}
.rightnav ul{
    display: flex;
    justify-content: space-evenly;
}
.rightnav ul{
    list-style: none;
}


#leftmiddletext1{
    position: absolute;
    top: 34%;
    left: 22%;
    font-size: 28px;
    color: rgb(0, 0, 0);
    font-family: lato;
    font-weight: bold;
    letter-spacing: 2px;
}
#leftmiddletext2{
    position: absolute;
    top: 37%;
    left: 16%;
    font-size: 52px;
    color: white;
    font-family: lato;
    font-weight: bold;
    letter-spacing: 2px;
}

.rightimage{
    position: absolute;
    top: 10%;
    right: -55px;
    width: 67vw;
    height: 67vh;
    background: url("../desktopsize/Edimg.png")no-repeat right;
    background-size: 80%;
    z-index: 2;
}

.container::-webkit-scrollbar{
    display: none;
}
.container{
    position: absolute;
    bottom: 0vh;
    width: 100vw;
    height: 46vh;
    background: url("../desktopsize/Rectangle-1.png")no-repeat;
    background-size: 100%;
    overflow-y: scroll;
    z-index: 3;
}

#main-cont{
    width: 90vw;
    display: grid;
    grid-template-columns: repeat(6, 32px);
    justify-content: space-evenly;
    margin: 10.4rem 1rem 0 1rem;

}

.btn{
    width: 150px;
    height: 45px;
    border-radius: 10px;
    border: none;
    margin: 1rem 0;
    font-family: lato;
    font-weight: bolder;
    color: white;
    background: linear-gradient(180deg, #8BA7FE, #446BFB);
    box-shadow:0px 2px 5px rgb(99, 99, 99);
}

.btn:hover{
    cursor: pointer;
    width: 140px;
    height: 43px;
    margin: 18px 0 0 5px;
}


/* Tablet size */
@media screen and (max-width:1080px) {
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    body{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        background: url("../Phonesize/Phonebg.jpg");
        background-size: 100%;
        overflow: hidden;
    }
    
    .heading{
        position: relative;
        width: 100vw;
        height:9vh;
        margin-top: 40px;
        font-family: warpen;
        color: white;
        background: url("../Phonesize/Label-2.png")no-repeat right;
        position: sticky;
        z-index: 1;
    }
    .lefttextbg{
        width: 100vw;
        height: 9vh;
        background: rgba(108, 108, 255, 0.251);
    }
    #main-head{
        font-family: warpen;
        font-size: 18px;
        color: white;
        text-shadow:5px 5px 10px black;
        padding-left: 8px;
        width: 70vw;        
    }
    .rightnav{
        position: absolute;
        top: 30px;
        right: 15px;
        width: 40vw;
        color: rgb(0, 0, 0);
        font-family: Lato;
        font-weight: bolder;
        font-size: 12px;
    }
    .rightnav ul{
        display: flex;
        justify-content: space-evenly;
    }
    .rightnav ul{
        list-style: none;
    }
    
    .middle{
        position: relative;
        width: 100vw;
        height: 55vh;
    }
    #leftmiddletext1{
        position: absolute;
        top: 15%;
        font-size: 18px;
        color: rgb(0, 0, 0);
        font-family: lato;
        font-weight: bold;
        letter-spacing: 2px;
    }
    #leftmiddletext2{
        position: absolute;
        top: 19%;
        font-size: 32px;
        margin-left: -18px;
        color: white;
        font-family: lato;
        font-weight: bold;
        letter-spacing: 2px;
    }
    
    .rightimage{
        position: absolute;
        top: -2%;
        width: 125vw;
        right: 1px;
        background: url("../Phonesize/Edimg-2.png")no-repeat right;
        background-size: 80%;
        z-index: 2;
    }
    
    .container::-webkit-scrollbar{
        display: none;
    }
    .container{
        position: absolute;
        bottom: -5vh;
        width: 100vw;
        height: 48vh;
        background: url("../Phonesize/Rectangle-2.png")no-repeat;
        background-size: 100%;
        overflow-y: scroll;
        z-index: 3;
    }
    
    #main-cont{
        width: 90vw;
        display: grid;
        grid-template-columns: repeat(3, 30px);
        justify-content: space-around;
        margin: 7rem 0 1rem 0;
    
    }
    
    .btn{
        width: 80px;
        height: 40px;
        border-radius: 10px;
        border: none;
        font-family: lato;
        font-weight: bold;
        font-size: 12px;
        color: white;
        background: linear-gradient(180deg, #8BA7FE, #446BFB);
        box-shadow:0px 2px 5px rgb(99, 99, 99);
    }
    
    .btn:hover{
        cursor: pointer;
        width: 70px;
        height: 37px;
        /* margin: 18px 0 0 5px; */
    }
    
    
}

/* Phone size */

@media screen and (max-width:500px) {
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    body{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        background: url("../Phonesize/Phonebg.jpg");
        background-size: 100%;
        overflow: hidden;
    }
    
    .heading{
        position: relative;
        width: 100vw;
        height:9vh;
        margin-top: 40px;
        font-family: warpen;
        color: white;
        background: url("../Phonesize/Label-2.png")no-repeat right;
        position: sticky;
        z-index: 1;
    }
    .lefttextbg{
        width: 100vw;
        height: 9vh;
        background: rgba(108, 108, 255, 0.251);
    }
    #main-head{
        font-family: warpen;
        font-size: 18px;
        color: white;
        text-shadow:5px 5px 10px black;
        padding-left: 8px;
        width: 70vw;        
    }
    .rightnav{
        position: absolute;
        top: 30px;
        right: 15px;
        width: 40vw;
        color: rgb(0, 0, 0);
        font-family: Lato;
        font-weight: bolder;
        font-size: 12px;
    }
    .rightnav ul{
        display: flex;
        justify-content: space-evenly;
    }
    .rightnav ul{
        list-style: none;
    }
    
    .middle{
        position: relative;
        width: 100vw;
        height: 55vh;
    }
    #leftmiddletext1{
        position: absolute;
        top: 15%;
        font-size: 18px;
        color: rgb(0, 0, 0);
        font-family: lato;
        font-weight: bold;
        letter-spacing: 2px;
    }
    #leftmiddletext2{
        position: absolute;
        top: 19%;
        font-size: 32px;
        margin-left: -18px;
        color: white;
        font-family: lato;
        font-weight: bold;
        letter-spacing: 2px;
    }
    
    .rightimage{
        position: absolute;
        top: -2%;
        width: 125vw;
        right: 1px;
        background: url("../Phonesize/Edimg-2.png")no-repeat right;
        background-size: 80%;
        z-index: 2;
    }
    
    .container::-webkit-scrollbar{
        display: none;
    }
    .container{
        position: absolute;
        bottom: -5vh;
        width: 100vw;
        height: 48vh;
        background: url("../Phonesize/Rectangle-2.png")no-repeat;
        background-size: 100%;
        overflow-y: scroll;
        z-index: 3;
    }
    
    #main-cont{
        width: 90vw;
        display: grid;
        grid-template-columns: repeat(3, 30px);
        justify-content: space-around;
        margin: 7rem 0 1rem 0;
    
    }
    
    .btn{
        width: 80px;
        height: 40px;
        border-radius: 10px;
        border: none;
        font-family: lato;
        font-weight: bold;
        font-size: 12px;
        color: white;
        background: linear-gradient(180deg, #8BA7FE, #446BFB);
        box-shadow:0px 2px 5px rgb(99, 99, 99);
    }
    
    .btn:hover{
        cursor: pointer;
        width: 70px;
        height: 37px;
        /* margin: 18px 0 0 5px; */
    }
    
    
}
